/* section area */
section {
  height: 800px;
}

section h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  color: #111;
}

section p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 15px 0 60px;
  color: #111;
}

section img {
  width: 20px;
  height: 22px;
  margin-left: 10px;
}

section ~ section .text_area img {
  width: 9px;
  height: 12px;
}

/* first_type area*/
#first_type {
  background: #fede22;
  height: 700px;
}

#first_type .section_bg {
  background-image: url("../img/main/main_banner.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1080px;
  height: 900px;
  margin: 0 auto;
}

#first_type .text_area {
  padding-top: 25%;
}

#first_type .text_area h2 {
  font-size: 50px;
  line-height: 60px;
}

#first_type .text_area img {
  margin: 0 10px 3px 0;
}

/* second_type area */
#second_type .section_bg {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-image: url("../img/main/section01_img.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: left;
  width: 50%;
}

#second_type .text_area {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 50%;
  padding-top: 25%;
}

/* third_type area */
#third_type .text_area {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 50%;
  padding-top: 22%;
}

#third_type .text_area .bottom_img {
  width: 440px;
  height: 104px;
  margin-top: 50px;
}

#third_type .section_bg {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-image: url("../img/main/section02_img.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
}

/* fourth_section style */
#second_type.fourth_section .section_bg {
  background-image: url("../img/main/section03_img.png");
}

/* fifth_section style */
#third_type.fifth_section .text_area {
  padding-left: 80px;
  padding-top: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#third_type.fifth_section .section_bg {
  background-image: url("../img/main/section04_img.png");
  background-position: left;
}

/* sixth_section style */
#second_type.sixth_section {
  background: url("../img/main/section05_map_bg.png");
  background-repeat: no-repeat;
  background-position: 10% 50%;
}

#second_type.sixth_section .text_area {
  padding-left: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#second_type.sixth_section .section_bg {
  background: url("../img/main/section05_img.png");
  background-size: 70%;
  background-position: center left;
  background-repeat: no-repeat;
  height: 800px;
}

/* fourth_type style */
#fourth_type {
  height: 835px;
  background: #2e2d49;
}

#fourth_type .text_area {
  padding-top: 100px;
  text-align: center;
}

#fourth_type .text_area h2 {
  color: #fff;
}

#fourth_type .text_area p {
  color: #666;
}

#fourth_type .text_area a {
  background: #656479;
}

#fourth_type .text_area a span {
  color: #fff;
}

#fourth_type .section_bg {
  background: url("../img/main/section06_img.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 429px;
  height: 563px;
  margin: 0 auto;
}

/* fourth_type.eighth_section style */
#fourth_type.eighth_section {
  height: 1000px;
  background: #fff;
}

#fourth_type.eighth_section .text_area {
  padding-top: 100px;
  text-align: center;
}

#fourth_type.eighth_section .text_area h2 {
  color: #111;
}

#fourth_type.eighth_section .text_area p {
  color: #666;
}

#fourth_type.eighth_section .text_area a {
  background: #f6f6f6;
}

#fourth_type.eighth_section .text_area a span {
  color: #666;
}

#fourth_type.eighth_section .kakao_card {
  width: 900px;
  margin-top: 80px;
}

#fourth_type.eighth_section .kakao_card img {
  width: 280px;
  height: 440px;
  margin: 0;
}

#fourth_type.eighth_section .kakao_card .swiper-button-next {
  background: url("../img/main/slider-arrow-right.png") no-repeat;
}

#fourth_type.eighth_section .kakao_card .swiper-button-prev {
  background: url("../img/main/slider-arrow-left.png") no-repeat;
}

#fourth_type.eighth_section .kakao_card .swiper-button-next,
#fourth_type.eighth_section .kakao_card .swiper-button-prev {
  color: red;
}

#fourth_type.eighth_section .kakao_card .swiper-pagination-bullet-active {
  background: #ffde00;
}

/* fourth_type.ninth_section style */
#fourth_type.ninth_section {
  height: 1000px;
  background: #fafafa;
}

#fourth_type.ninth_section h2 {
  color: #111;
}

#fourth_type.ninth_section h2:after {
  content: "";
  display: block;
  margin: 50px auto 130px;
  width: 100px;
  height: 2px;
  background: #111;
}

#fourth_type.ninth_section .section_bg {
  background: url("../img/main/section08_img.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1020px;
  height: 270px;
}

#fourth_type.ninth_section .text_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1020px;
  margin: 0 auto;
}

#fourth_type.ninth_section .text_box li {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
}

#fourth_type.ninth_section .text_box li h3 {
  font-size: 22px;
  font-weight: bold;
  margin: 50px 0 20px;
  color: #111;
}

#fourth_type.ninth_section .text_box li p {
  font-size: 16px;
  color: #666;
}

@media screen and (max-width: 1080px) {
  html,
  body {
    min-width: 1080px;
  }
}
