/* standard style start */
section {
  padding: 120px 0;
}

section h2 {
  font-size: 38px;
  padding-bottom: 50px;
  margin-bottom: 100px;
  border-bottom: 1px solid #ccc;
}

section .subtitle {
  margin-bottom: 100px;
  text-align: center;
}

section .subtitle h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

section .subtitle p {
  font-size: 16px;
  line-height: 28px;
}

section .text_wrap h4 {
  font-size: 22px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
}

section .text_wrap .contents {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
  margin-bottom: 120px;
}

section .text_wrap .contents:last-child {
  margin-bottom: 0;
}

section .text_wrap .contents dl {
  overflow: hidden;
}

section .text_wrap .contents dl dt {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  line-height: 28px;
  font-size: 16px;
  font-weight: bold;
  color: #111;
  padding: 20px 0;
}

section .text_wrap .contents dl dd {
  width: 70%;
  display: inline-block;
  line-height: 28px;
  font-size: 13px;
  color: #111;
  padding: 20px 0;
}

section .declare {
  margin: 30px 0;
}

section .declare span {
  font-size: 16px;
  color: #111;
}

section .declare a {
  font-size: 13px;
  color: blue;
}

/* standard style end */
