/* ethics style start */

@import "var.scss";

// section
section {
  padding: 120px 0;
  h2 {
    font-size: $titleFontSizeMid;
    padding-bottom: 50px;
    margin-bottom: 100px;
    border-bottom: 1px solid #ccc;
  }
  .subtitle {
    margin-bottom: 100px;
    text-align: center;
    h3 {
      font-size: $titleFontSizeNormal;
      margin-bottom: 30px;
    }
    p {
      font-size: $fontSizeNormal;
      line-height: 28px;
    }
  } // subtitle end
  .text_wrap {
    h4 {
      font-size: $titleFontSizeSmall;
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #ccc;
    }
    .contents {
      border-bottom: 1px solid #ccc;
      padding-bottom: 30px;
      margin-bottom: 120px;
      &:last-child {
        margin-bottom: 0;
      }
      dl {
        overflow: hidden;
        // left title
        dt {
          display: inline-block;
          vertical-align: top;
          width: 20%;
          line-height: 28px;
          font-size: $fontSizeNormal;
          font-weight: bold;
          color: $fontColorBasic;
          padding: 20px 0;
        }
        // right text
        dd {
          width: 70%;
          display: inline-block;
          line-height: 28px;
          font-size: $fontSizeSmall;
          color: $fontColorBasic;
          padding: 20px 0;
        }
      }
    }
  }
} // section end

/* ethics style end */
