/* section area */

@import "var.scss";

// section common style
section {
  height: 800px;

  // section  title
  h2 {
    font-size: $titleFontSizeBig;
    font-weight: bold;
    line-height: 50px;
    color: $fontColorBasic;
  }

  // section sub title
  p {
    font-size: $fontSizeMid;
    font-weight: 400;
    line-height: 28px;
    margin: 15px 0 60px;
    color: $fontColorBasic;
  }

  img {
    width: 20px;
    height: 22px;
    margin-left: 10px;
  }

  &~section {
    .text_area {
      img {
        width: 9px;
        height: 12px;
      }
    }
  }
}

/* first_type area*/
#first_type {
  background: $primaryColor;
  height: 700px;

  .section_bg {
    background-image: url("../img/main/main_banner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1080px;
    height: 900px;
    margin: 0 auto;
  }

  .text_area {
    padding-top: 25%;

    h2 {
      font-size: 50px;
      line-height: 60px;
    }

    img {
      margin: 0 10px 3px 0;
    }
  }

  //.text_area end
}

//#first_type end

/* second_type area */
#second_type {
  .section_bg {
    flex: 1 0 auto;
    background-image: url("../img/main/section01_img.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: left;
    width: 50%;
  }

  .text_area {
    flex: 1 0 auto;
    width: 50%;
    padding-top: 25%;
  }
}

/* third_type area */
#third_type {
  .text_area {
    flex: 1 0 auto;
    width: 50%;
    padding-top: 22%;

    .bottom_img {
      width: 440px;
      height: 104px;
      margin-top: 50px;
    }
  }

  .section_bg {
    flex: 1 0 auto;
    background-image: url("../img/main/section02_img.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
  }
}

/* fourth_section style */
#second_type.fourth_section {
  .section_bg {
    background-image: url("../img/main/section03_img.png");
  }
}

/* fifth_section style */
#third_type.fifth_section {
  .text_area {
    padding-left: 80px;
    padding-top: 25%;
    box-sizing: border-box;
  }

  .section_bg {
    background-image: url("../img/main/section04_img.png");
    background-position: left;
  }
}

/* sixth_section style */
#second_type.sixth_section {
  background: url("../img/main/section05_map_bg.png");
  background-repeat: no-repeat;
  background-position: 10% 50%;

  .text_area {
    padding-left: 40px;
    box-sizing: border-box;
  }

  .section_bg {
    background: url("../img/main/section05_img.png");
    background-size: 70%;
    background-position: center left;
    background-repeat: no-repeat;
    height: 800px;
  }
}

/* fourth_type style */
#fourth_type {
  height: 835px;
  background: #2e2d49;

  .text_area {
    padding-top: 100px;
    text-align: center;

    h2 {
      color: #fff;
    }

    p {
      color: $fontColorSub;
    }

    a {
      background: rgb(101, 100, 121);

      span {
        color: #fff;
      }
    }
  }

  .section_bg {
    background: url("../img/main/section06_img.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 429px;
    height: 563px;
    margin: 0 auto;
  }
}

/* fourth_type.eighth_section style */
#fourth_type.eighth_section {
  height: 1000px;
  background: #fff;

  .text_area {
    padding-top: 100px;
    text-align: center;

    h2 {
      color: $fontColorBasic;
    }

    p {
      color: $fontColorSub;
    }

    a {
      background: $gbtnColorBasic;

      span {
        color: $fontColorSub;
      }
    }
  }

  .kakao_card {
    width: 900px;
    margin-top: 80px;

    img {
      width: 280px;
      height: 440px;
      margin: 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: white;
    }

    .swiper-pagination-bullet-active {
      background: $gbtnColor;
    }
  }
}

/* fourth_type.ninth_section style */
#fourth_type.ninth_section {
  height: 1000px;
  background: $layoutBg;

  h2 {
    color: $fontColorBasic;

    &:after {
      content: "";
      display: block;
      margin: 50px auto 130px;
      width: 100px;
      height: 2px;
      background: $fontColorBasic;
    }
  }

  .section_bg {
    background: url("../img/main/section08_img.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1020px;
    height: 270px;
  }

  .text_box {
    display: flex;
    width: 1020px;
    margin: 0 auto;

    li {
      flex-basis: 25%;
      text-align: center;

      h3 {
        font-size: $titleFontSizeSmall;
        font-weight: bold;
        margin: 50px 0 20px;
        color: $fontColorBasic;
      }

      p {
        font-size: $fontSizeNormal;
        color: $fontColorSub;
      }
    }
  }
}

@media screen and (max-width: 1080px) {

  html,
  body {
    min-width: 1080px;
  }
}