//변수처리

//size width
$siteWidth: 1080px;

//text size
$fontSizeSmall: 13px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

//title text size
$titleFontSizeSmall: 22px;
$titleFontSizeNormal: 30px;
$titleFontSizeMid: 38px;
$titleFontSizeBig: 40px;

//background color
$layoutBg: #fafafa;

//font color
$fontColorBasic: #111;
$fontColorSub: #666;

//border color
$borderColorPrimary: #666;
$borderColor: #111;

//button color
$gbtnColor: #ffde00;
$gbtnColorBasic: #f6f6f6;

//primary color
$primaryColor: #fede22;
